*{
    margin: 0;
    padding: 0;
}
body{
  background-color: #ece3e3;
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 15px;
}
.navbar .logo{
    font-size:40px;
    font-weight: bold;
    font-style: sans-serif;
    letter-spacing: 2px;
    color:#ff7200;
    text-shadow:3px 3px #444;
}
.nav-links{
    list-style: none;
    display: flex;
    gap:20px;
    letter-spacing: 1px;
    padding-right:30px;
}
.nav-links li a{
    padding: 10px;
    text-decoration: none;
    color:#424040;
   font-size:20px;
   transition: 0.3s;
}
.nav-links li a:hover{
    color: #ff7200;
    transition:0.3s ease-in-out;
}

/* Hamburger styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .hamburger span {
    width: 25px;
    height: 3px;
    background:#ff7200;
    transition: 0.3s;
  }

  /* Responsive */
@media (max-width: 768px) {
    .hamburger {
      display: flex;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      background-color: #444;
      position: absolute;
      top: 60px;
      right: 0;
      width: 200px;
      padding: 10px;
    }
  
    .nav-links.active {
      display: flex;
    }
  }
.nav-links a:hover {
    color: #007bff;
  }
.navbar a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color:#ff7200;
    margin-top: 5px;
}
.navbar a:hover::after{
    width: 100%;
}

.project-div{
    text-align: center;
    padding:200px;
    color: #ff7200;
    letter-spacing: 3px;
  }
  .project-div p{
    padding:15px;
    font-size:18px;
    color:#424040;
    letter-spacing: 1px;
    
  }
.project-div a{
    text-decoration: none;
    padding:20px;
   color: #ff7200;
    font-size: 15px;
    font-weight: bold;
  }
.main{
  background-color: white;
    }
     h1{
        color:#2b2323;
        text-align: center;
        padding-top: 25px;
        font-weight: bold;
    }
    .section{
        display: flex;
        margin: 40px;
        padding-bottom: 20px;
    }
    .section img{
        border-radius: 50%;
        width:180px;
        height:300px;
        margin-right: 80px;
        margin-left: 40px;
    }
.section p{
    padding: 30px;
    color: #2b2323;
    font-size: 22px;
    text-align: center;
    
}
.section p span{
    color: #ff7200;
    font-weight: bold;
    letter-spacing: 1px;
}
footer{
    text-align: center;
    padding:30px;
    font-size:20px;
    color:#424040;
  }
  footer a{
    color: #ff7200;
    text-decoration: none;
    font-weight: bold;
 }
 footer p span{
  color: #ff7200;
  font-weight: bold;
  font-size:28px;
 }

/*project css*/
.project-layout{
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap:15px;
  flex-wrap: wrap;
  padding-bottom:25px;
}
.project-layout img{
height:280px;
width:100%;
border-radius:15%;
}
.project-card h3{
text-align: center;
margin:5px;
color:#ff7200;
}
.project-card{
  padding: 20px;
  width:280px;
  height:100%;
  background-color:#383636;
  margin:20px;
  border-radius:10% ;
  }
  .project-card:hover{
       background-color:#244424;
  }
.project-card p{
  color: #ece3e3;
  font-size:20px;
  }

  /*Service css*/
  .services{
    background-color: #9a9696;
  }
  .services h1{
    font-size: 30px;
    color: #4a2404;
    font-weight: bold;
  }
  .service-layout{
    display: flex;
    justify-content:center;
    padding:25px;
   
  }
  .service-layout img{
  height:280px;
  width:100%;
  border-radius: 10%;
  }
  .service-card h3{
    text-align: center;
    margin:5px;
    color: #4a2404;
    }
    .service-card{
      padding: 40px;
      width:300px;
      height:100%;
      background-color:#725d5d;
      margin:15px;
      border-radius:10% ;
      }
      .service-card:hover{
           background-color:#067906;
          transition:0.8s ease-out;
          padding:50px;
          }
    .service-card p{
      color: #ece3e3;
      font-size:20px;
      }
    
  /*hobby css*/
.home{
  display: flex;
  background-color: #ece3e3;
margin:20px;
}
 .leftcontent{
     text-align: center;
     padding:20px;
     font-size: 30px;
 }
   .rightcontent{
    padding: 20px;
     }
     .rightcontent   img{
      height:100%;
      width:350px;
     }

 /*form css*/
.form{
      border:2px,block,black;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      padding-bottom:30px;
 }
  .contact{
      text-align: center;
      background-color:#3c3434;
    }
.form input{
   width:500px;
   height:30px;
}
.form textarea{
  width:500px;

}
.button{
  background-color:#ff7200;
  color:#ece3e3;
  width:100px;
  height:35px;
}
.form h1{
  color: #ece3e3;
}

/*review css*/
.reviews{
background-color:#9a9696;
}
.review-layout{
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap:15px;
  flex-wrap: wrap;
}
.card-review img{
     height:120px;
     width:130px;
     border-radius: 50%;
}
.card-review{
  text-align: center;
      padding: 20px;
      width:250px;
      height:100%;
      background-color:#ece3e3;
      margin:15px;
      border-radius:10%;
      border:1px solid black;
      }
      .card-review h3{
      font-weight: bold;
  padding:8px;
  word-spacing:2px;
      }

.card-review p{
  font-size:20px;
}